@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
html, body {
  font-size: 16px;
}

@media screen and (min-width: 1600px) {
  html, body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html, body {
    font-size: 13px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  html, body {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  html, body {
    font-size: 11.5px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
  html, body {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  html, body {
    font-size: 14px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  html, body {
    font-size: 16px;
  }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  html, body {
    font-size: 15px;
  }
}

html,
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

html .landing-banner,
body .landing-banner {
  min-height: calc(110vh - 5rem);
  height: 100%;
  background-image: url(../public/static/images/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: initial;
  overflow: hidden;
}

html .navbar,
body .navbar {
  padding: 0.25rem 1.875rem;
  -webkit-box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  height: 5rem;
}

html .navbar .header-content,
body .navbar .header-content {
  width: 6.063rem;
  cursor: pointer;
}

html .navbar .header-content h1,
body .navbar .header-content h1 {
  color: #64575a;
}

html .navbar .header-content:focus,
body .navbar .header-content:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html .navbar .navbar-nav .nav-link,
body .navbar .navbar-nav .nav-link {
  font-size: 1.25rem;
  color: #404040 !important;
  font-weight: 500;
  padding: 0.938rem 0;
  margin-right: 2.5rem;
  position: relative;
}

html .navbar .navbar-nav .nav-link.active,
body .navbar .navbar-nav .nav-link.active {
  color: #d73651 !important;
}

@media (min-width: 992px) {
  .navbar .header-content {
    width: 6.063rem;
    margin-right: 5.313rem;
  }
}

@media screen and (max-width: 1199px) {
  .header-content {
    margin-right: 3.375rem !important;
  }
}

@media screen and (max-width: 992px) {
  .header-content {
    margin-left: -2.5rem;
  }
}

@media (min-width: 768px) {
  .navbar .header-content {
    width: 6.063rem;
  }
}

@media only screen and (max-width: 991px) {
  .header-content {
    margin-left: 0;
    margin-right: 0 !important;
  }
}
/*# sourceMappingURL=globals.css.map */